<p>chemCalc_API.php const const CHEMMODULEAPI CHEMMODULEAPI 'Chem API defined' ChemModule: Chemical API.</p>
<p>optimLight 2013 :TODO:use global variables such as $AcidBaseKdTable ...when read data from file - convert all numbers into corresponding typessafe string $str_tr_item, $str_start_item, $str_start_cell, $str_start_end and all other strings from POSTshow time and RAM usage</p>
<p>$start $start = microtime(true) chemCalc_concentrationHOH_commonF $time $time = microtime(true) - $start chemCalc_concentrationHOH_commonF chem_pH ($c, $m, $f, $Kw=1.0E-13, $om=0, $mi=150, $ou=0, $Kd1=0.0, $Kd2=0.0, $Kd3=0.0, $e=1.0E-15, $cs=1.0E-24, $ce=1.0E+03) chem_pH $c $m $f $Kw 1.0E-13 $om 0 $mi 150 $ou 0 $Kd1 0.0 $Kd2 0.0 $Kd3 0.0 $e 1.0E-15 $cs 1.0E-24 $ce 1.0E+03 General API used to calculate concentration of $H_{3}O^{+}$ and $OH^{-}$ ions.</p>
<p>Direct access not recommended</p>
<p>mixed $c concentration mixed $m choose equation, by which &quot;pH&quot; will be calculated mixed $f formula or name that uniquely identifies substance mixed $log output string for additional information, should be empty integer $Kw constant - autoprotolysis integer $om short from &quot;OutputMode&quot; - Ajax (1) or HTML (0) retuned data type integer $mi number of maimum iterations (if required by equation) integer $e accuracy (if required by equation) integer $cs start from this concentration (if required by equation) integer $ce maximum concentration (if required by equation) type depends on $om param</p>
<p>$chemDB_tables CHEM_API_ARRAY_TABLE CHEM_API_PH chemCalc_concentrationHOH_commonF chemCalc_concentrationHOH_simplifiedF chemDB_findAcidBaseKdValue chemDB_readAcidBaseKdTable chem_main_ph _pKdfmt ($Kd, $s=0, $ifN= '-', $decimals=2, $decpoint= '.') _pKdfmt $Kd $s 0 $ifN '-' $decimals 2 $decpoint '.' Format of Kd and pKd output.</p>
<p>mixed $Kd dissociation constant integer $s style (0-5) string $if N if $Kd == 0 this string will be used, otherwise $Kd will be used integer $nDigits maximum number of digits after comma :TODO: string</p>
<p>chem_searchAcidBaseKd chem_searchAcidBaseKd ($string, $N, $reg, $regexp, $om, $style, $str_tr= '', $str_item= '', $str_1col= '', $str_lastRow= '') chem_searchAcidBaseKd $string $N $reg $regexp $om $style $str_tr '' $str_item '' $str_1col '' $str_lastRow '' Returns string with formated data from database about substance which were identified by send $param and other settings.</p>
<p>string $string full or part of namem formula or other data in string format where $param appears integer $N maximum number of retuned items in array bool $reg use or not case-sensetive search. ?use if $RegExp == TRUE? :TODO: bool $regexp use RegExp :TODO: integer $om short from &quot;OutputMode&quot; - Ajax (1) or HTML (0) retuned data type integer $style specified style of retuned string string $str_tr string in &quot;html format&quot; for attributes. This string will be added into each line in the retuned table string $str_item string on each line in the first colomn (additional param) string $str_1col string in the first colomn (extra colomn will be added) string $str_lastRow extra last row in the retuned table string</p>
<p>$chemDB_tables _pKdfmt CHEM_API_ARRAY_LANG_RUS CHEM_API_ARRAY_TABLE CHEM_API_PH CHEM_API_SEARCHABKD CHEM_API_SEARCHABKD_LANG_FORMULA CHEM_API_SEARCHABKD_LANG_NAME CHEM_API_SEARCHABKD_LANG_NOTES CHEM_API_SEARCHABKD_LANG_RESULTS CHEM_API_SEARCHABKD_LANG_SOURCE CHEM_API_SEARCHABKD_LANG_TEMP chemDB_readAcidBaseKdTable chemDB_searchNAcidBaseKdValue chem_main_searchABKd chem_main_ph (&amp;$str_log=null) chem_main_ph &amp; $str_log null CHEM_API_PH_CONCENTRATION CHEM_API_PH_FORMULA CHEM_API_PH_KD1 CHEM_API_PH_KD2 CHEM_API_PH_KD3 CHEM_API_PH_KW CHEM_API_PH_MAXITER CHEM_API_PH_MODE CHEM_API_PH_OUTPUTMODE CHEM_API_PH_USEOWN chem_pH chem_main chem_main_searchABKd (&amp;$str_log=null) chem_main_searchABKd &amp; $str_log null CHEM_API_SEARCHABKD_CASESEN CHEM_API_SEARCHABKD_MAXN CHEM_API_SEARCHABKD_OUTPUTMODE CHEM_API_SEARCHABKD_REGEXP CHEM_API_SEARCHABKD_STRING CHEM_API_SEARCHABKD_STYLE CHEM_API_SEARCHABKD_TDITEM_TEXT CHEM_API_SEARCHABKD_TRDESCRCOL_TEXT CHEM_API_SEARCHABKD_TRITEM_ATTR CHEM_API_SEARCHABKD_TRLASTTEXT chem_searchAcidBaseKd chem_main chem_main () chem_main CHEM_API_ACTION CHEM_API_PH CHEM_API_SEARCHABKD chem_main_ph chem_main_searchABKd <?php

    /******************************************************************************
    *Copyright(c)2013,ArtyomVeselkov
    *
    *ThisfileispartofthephpChemCalc
    *
    *Permissionisherebygranted,freeofcharge,toanypersonobtainingacopy
    *ofthissoftwareandassociateddocumentationfiles(the"Software"),to
    *dealintheSoftwarewithoutrestriction,includingwithoutlimitationthe
    *rightstouse,copy,modify,merge,publish,distribute,sublicense,and/or
    *sellcopiesoftheSoftware,andtopermitpersonstowhomtheSoftwareis
    *furnishedtodoso,subjecttothefollowingconditions:
    *
    *Theabovecopyrightnoticeandthispermissionnoticeshallbeincludedin
    *allcopiesorsubstantialportionsoftheSoftware.
    *
    *THESOFTWAREISPROVIDED"ASIS",WITHOUTWARRANTYOFANYKIND,EXPRESSOR
    *IMPLIED,INCLUDINGBUTNOTLIMITEDTOTHEWARRANTIESOFMERCHANTABILITY,
    *FITNESSFORAPARTICULARPURPOSEANDNONINFRINGEMENT.INNOEVENTSHALLTHE
    *AUTHORSORCOPYRIGHTHOLDERSBELIABLEFORANYCLAIM,DAMAGESOROTHER
    *LIABILITY,WHETHERINANACTIONOFCONTRACT,TORTOROTHERWISE,ARISING
    *FROM,OUTOFORINCONNECTIONWITHTHESOFTWAREORTHEUSEOROTHERDEALINGS
    *INTHESOFTWARE.
    *
    *(Copyright(c)2013,АртёмВеселков
    *
    *Этотфайл—частьphpChemCalc
    *
    *Даннаялицензияразрешаетлицам,получившимкопиюданногопрограммного
    *обеспеченияисопутствующейдокументации(вдальнейшемименуемыми
    *«ПрограммноеОбеспечение»),безвозмездноиспользоватьПрограммное
    *Обеспечениебезограничений,включаянеограниченноеправона
    *использование,копирование,изменение,добавление,публикацию,
    *распространение,сублицензированиеи/илипродажукопийПрограммного
    *Обеспечения,такжекакилицам,которымпредоставляетсяданноеПрограммное
    *Обеспечение,присоблюденииследующихусловий:
    *
    *Указанноевышеуведомлениеобавторскомправеиданныеусловиядолжны
    *бытьвключенывовсекопииилизначимыечастиданногоПрограммного
    *Обеспечения.
    *
    *ДАННОЕПРОГРАММНОЕОБЕСПЕЧЕНИЕПРЕДОСТАВЛЯЕТСЯ«КАКЕСТЬ»,БЕЗКАКИХ-ЛИБО
    *ГАРАНТИЙ,ЯВНОВЫРАЖЕННЫХИЛИПОДРАЗУМЕВАЕМЫХ,ВКЛЮЧАЯ,НОНЕ
    *ОГРАНИЧИВАЯСЬГАРАНТИЯМИТОВАРНОЙПРИГОДНОСТИ,СООТВЕТСТВИЯПОЕГО
    *КОНКРЕТНОМУНАЗНАЧЕНИЮИОТСУТСТВИЯНАРУШЕНИЙПРАВ.НИВКАКОМСЛУЧАЕ
    *АВТОРЫИЛИПРАВООБЛАДАТЕЛИНЕНЕСУТОТВЕТСТВЕННОСТИПОИСКАМОВОЗМЕЩЕНИИ
    *УЩЕРБА,УБЫТКОВИЛИДРУГИХТРЕБОВАНИЙПОДЕЙСТВУЮЩИМКОНТРАКТАМ,ДЕЛИКТАМ
    *ИЛИИНОМУ,ВОЗНИКШИМИЗ,ИМЕЮЩИМПРИЧИНОЙИЛИСВЯЗАННЫМСПРОГРАММНЫМ
    *ОБЕСПЕЧЕНИЕМИЛИИСПОЛЬЗОВАНИЕМПРОГРАММНОГООБЕСПЕЧЕНИЯИЛИИНЫМИ
    *ДЕЙСТВИЯМИСПРОГРАММНЫМОБЕСПЕЧЕНИЕМ.)
    *****************************************************************************/

    //forincludingchemCalc_*.phpscripts
    define('CHEMMODULEAPI','ChemAPIdefined');

    require_once('chemCalc_pH.php');
    require_once('chemCalc_OB.php');
    require_once('chemCalc_DB.php');
    require_once('chemCalc.inc.php');

    functionchem_pH($c,$m,$f,$Kw=1.0E-13,$om=0,$mi=150,$ou=0,$Kd1=0.0,$Kd2=0.0,$Kd3=0.0,$e=
    1.0E-15,$cs=1.0E-24,$ce=1.0E+03)
    {
    //ifdon'tuseownKdorsetted$Kdis<=0
    if((0==$ou)||(0>=<span class="math">$Kd1))  {  global$</span>chemDB_tables; <span class="math"><em>t</em><em>a</em><em>b</em><em>l</em><em>e</em> = <em>c</em><em>h</em><em>e</em><em>m</em><em>D</em><em>B</em><sub><em>r</em></sub><em>e</em><em>a</em><em>d</em><em>A</em><em>c</em><em>i</em><em>d</em><em>B</em><em>a</em><em>s</em><em>e</em><em>K</em><em>d</em><em>T</em><em>a</em><em>b</em><em>l</em><em>e</em>(</span>chemDB_tables[CHEM_API_PH][CHEM_API_ARRAY_TABLE]); <span class="math"><em>d</em><em>a</em><em>t</em><em>a</em> = <em>c</em><em>h</em><em>e</em><em>m</em><em>D</em><em>B</em><sub><em>f</em></sub><em>i</em><em>n</em><em>d</em><em>A</em><em>c</em><em>i</em><em>d</em><em>B</em><em>a</em><em>s</em><em>e</em><em>K</em><em>d</em><em>V</em><em>a</em><em>l</em><em>u</em><em>e</em>(</span>f,<span class="math"><em>t</em><em>a</em><em>b</em><em>l</em><em>e</em>); <em>i</em><em>f</em>(</span>data!=(-1)) { <span class="math"><em>K</em><em>d</em>1 = (<em>f</em><em>l</em><em>o</em><em>a</em><em>t</em>)</span>data[3];//!!!oruse&amp;$Kd1... <span class="math"><em>K</em><em>d</em>2 = (<em>f</em><em>l</em><em>o</em><em>a</em><em>t</em>)</span>data[4]; <span class="math"><em>K</em><em>d</em>3 = (<em>f</em><em>l</em><em>o</em><em>a</em><em>t</em>)</span>data[5]; }else return(-1); } //otherwiseusesend$Kdvalues $log=''; <span class="math"><em>r</em><em>e</em><em>s</em><em>u</em><em>l</em><em>t</em> = 0 =  = </span>m?chemCalc_concentrationHOH_commonF(<span class="math"><em>c</em>, </span>Kd1,<span class="math"><em>K</em><em>d</em>2, </span>Kd3,<span class="math"><em>l</em><em>o</em><em>g</em>, </span>Kw,<span class="math"><em>e</em>, </span>mi,<span class="math"><em>c</em><em>s</em>, </span>ce): chemCalc_concentrationHOH_simplifiedF(<span class="math"><em>c</em>, </span>Kd1,<span class="math"><em>K</em><em>w</em>); <em>s</em><em>w</em><em>i</em><em>t</em><em>c</em><em>h</em>(</span>om) { case0: { echo(-1)!=<span class="math"><em>r</em><em>e</em><em>s</em><em>u</em><em>l</em><em>t</em>?′[<em>H</em> &lt; <em>s</em><em>u</em><em>b</em> &gt; 3 &lt; /<em>s</em><em>u</em><em>b</em> &gt; <em>O</em> &lt; <em>s</em><em>u</em><em>p</em> &gt;  +  &lt; /<em>s</em><em>u</em><em>p</em> &gt; ] = ′.</span>result.',pH='.(-1)*log(<span class="math"><em>r</em><em>e</em><em>s</em><em>u</em><em>l</em><em>t</em>, 10).′|[<em>O</em><em>H</em> &lt; <em>s</em><em>u</em><em>p</em> &gt;  −  &lt; /<em>s</em><em>u</em><em>p</em> &gt; ] = ′.(</span>Kw/<span class="math"><em>r</em><em>e</em><em>s</em><em>u</em><em>l</em><em>t</em>).′, <em>p</em><em>O</em><em>H</em> = ′.( − 1) * <em>l</em><em>o</em><em>g</em>((</span>Kw/<span class="math"><em>r</em><em>e</em><em>s</em><em>u</em><em>l</em><em>t</em>), 10) : ″; <em>r</em><em>e</em><em>t</em><em>u</em><em>r</em><em>n</em>( − 1)! = </span>result?0:(-1); } } return(-1); }</p>
<pre><code>function_pKdfmt($Kd,$s=0,$ifN=&#39;-&#39;,$decimals=2,$decpoint=&#39;.&#39;)
{
$K=(float)$Kd;
if((&#39;&#39;!=$ifN)&amp;&amp;(0==$Kd))
{
return$ifN;
}
switch($s)
{
case0:
{
returnnumber_format(((-1)*log($K,10)),$decimals,$decpoint);
}
case1:
{
return&#39;pK=&#39;.number_format((-1)*log($K,10),$decimals,$decpoint);
}
case2:
{
return&#39;pK=&#39;.number_format((-1)*log($K,10),$decimals,$decpoint).&#39;|K=&#39;.number_format($K,$decimals,$decpoint);
}
case3:
{
returnnumber_format($K,$decimals,$decpoint);
}
case4:
{
return&#39;K=&#39;.number_format($K,$decimals,$decpoint);
}
case5:
{
returnsprintf(&#39;K=%.&#39;.(string)$decimals.&#39;e&#39;.&#39;|pK=%01.&#39;.(string)$decimals.&#39;f&#39;,$K,((-1)*log($K,10)));
}
}
}

functionchem_searchAcidBaseKd($string,$N,$reg,$regexp,$om,$style,$str_tr=&#39;&#39;,$str_item=&#39;&#39;,$str_1col=&#39;&#39;,$str_lastRow=
&#39;&#39;)
{
if((strlen($string)&lt;2)||(strlen($string)&gt;40))
{
return(-1);
}
global$chemDB_tables;
$table=chemDB_readAcidBaseKdTable($chemDB_tables[CHEM_API_PH][CHEM_API_ARRAY_TABLE]);
$amount=0;
$result=chemDB_searchNAcidBaseKdValue($string,$table,$N,$amount,$reg,$regexp);
if(-1==$result)
{
return(-1);
}
$str=&#39;&#39;;
if($amount&gt;0)
{
switch($om)
{
case0:
{
//$str_iteminsteadof$str_start_cellwasusedhereforeasyviewing
//:TODO:add&lt;td&gt;Notes&lt;/td&gt;
//:WARNING:Useclassonly,notidfortags
$str=&#39;&lt;tableclass=&quot;chemapi_abkdTable&quot;&gt;&lt;trclass=&quot;chemapi_abkdDesc&quot;&gt;&#39;.
(&#39;&#39;!=$str_item?&#39;&lt;tdclass=&quot;chemapi_abkdCol1&quot;&gt;&#39;.$str_1col.&#39;&lt;/td&gt;&#39;:&#39;&#39;).
&#39;&lt;td&gt;&#39;.
$chemDB_tables[CHEM_API_SEARCHABKD][CHEM_API_ARRAY_LANG_RUS][CHEM_API_SEARCHABKD_LANG_NAME].
&#39;&lt;/td&gt;&lt;td&gt;&#39;.
$chemDB_tables[CHEM_API_SEARCHABKD][CHEM_API_ARRAY_LANG_RUS][CHEM_API_SEARCHABKD_LANG_FORMULA].
&#39;&lt;/td&gt;&lt;td&gt;&#39;.
$chemDB_tables[CHEM_API_SEARCHABKD][CHEM_API_ARRAY_LANG_RUS][CHEM_API_SEARCHABKD_LANG_TEMP].&#39;,&lt;sup&gt;0&lt;/sup&gt;C&#39;.
&#39;&lt;/td&gt;&lt;td&gt;Kd1&lt;/td&gt;&#39;.
&#39;&lt;td&gt;Kd2&lt;/td&gt;&#39;.
&#39;&lt;td&gt;Kd3&lt;/td&gt;&#39;.
&#39;&lt;td&gt;Kd4&lt;/td&gt;&lt;td&gt;&#39;.
$chemDB_tables[CHEM_API_SEARCHABKD][CHEM_API_ARRAY_LANG_RUS][CHEM_API_SEARCHABKD_LANG_SOURCE].
&#39;&lt;/td&gt;&lt;td&gt;&#39;.
$chemDB_tables[CHEM_API_SEARCHABKD][CHEM_API_ARRAY_LANG_RUS][CHEM_API_SEARCHABKD_LANG_NOTES].
&#39;&lt;/td&gt;&lt;/tr&gt;&#39;;
$i=0;
for($i=0;$i&lt;$amount;$i++)
{
$str.=&#39;&lt;tr&#39;.$str_tr.&#39;&gt;&#39;.(&#39;&#39;!=$str_item?&#39;&lt;tdclass=&quot;chemapi_abkdCol1TD&quot;&gt;&#39;.$str_item.&#39;&lt;/td&gt;&#39;:&#39;&#39;).//startcolomn
&#39;&lt;td&gt;&#39;.$result[$i][0].//name
&#39;&lt;/td&gt;&lt;td&gt;&lt;spanclass=&quot;f&quot;&gt;&#39;.$result[$i][1].//fromula
&#39;&lt;/span&gt;&lt;/td&gt;&lt;td&gt;&#39;.$result[$i][2].//temperature
&#39;&lt;/td&gt;&lt;td&gt;&#39;._pKdfmt($result[$i][3],$style).//Kd1
&#39;&lt;/td&gt;&lt;td&gt;&#39;._pKdfmt($result[$i][4],$style).//Kd2
&#39;&lt;/td&gt;&lt;td&gt;&#39;._pKdfmt($result[$i][5],$style).//Kd3
&#39;&lt;/td&gt;&lt;td&gt;&#39;._pKdfmt($result[$i][6],$style).//Kd4
&#39;&lt;/td&gt;&lt;td&gt;&#39;.$result[$i][7].//Source
//&#39;&lt;/td&gt;&lt;td&gt;&#39;.$result[$i][8].//Notes
&#39;&lt;/td&gt;&lt;/tr&gt;&#39;;
}
$str.=(&#39;&#39;!=$str_lastRow?&#39;&lt;trclass=&quot;chemapi_abkdLRow&quot;&gt;&lt;td&gt;&#39;.$str_lastRow.&#39;&lt;spanclass=&quot;chemapi_abkdLog&quot;&#39;.sprintf(&#39;%d$s%d&#39;,$amount,$chemDB_tables[CHEM_API_SEARCHABKD][CHEM_API_ARRAY_LANG_RUS][CHEM_API_SEARCHABKD_LANG_RESULTS],$N).&#39;&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&#39;:&#39;&#39;).&#39;&lt;/table&gt;&#39;;
echo$str;
return0;
}
}
}
return(-1);
}

functionchem_main_ph(&amp;$str_log=null)
{
$c=isset($_POST[CHEM_API_PH_CONCENTRATION])?$_POST[CHEM_API_PH_CONCENTRATION]:0;
$f=isset($_POST[CHEM_API_PH_FORMULA])?$_POST[CHEM_API_PH_FORMULA]:&#39;&#39;;
//$c=((FALSE==is_float($c))&amp;&amp;(FALSE==is_int($c)))?0:$c;
//$f=htmlspecialchars($_POST[CHEM_API_PH_FORMULA]);
if((0==$c)||(strlen($f)&lt;3))
{
if(null!=$str_log)
{
$str_log.=&#39;Erroroccurred-notspecifiedconcentrationorformula.&#39;;
}else
{
//$exit_str.&#39;Erroroccurred-notspecified$cor$f.&#39;;
}
return(-1);
}
$Kw=isset($_POST[CHEM_API_PH_KW])?$_POST[CHEM_API_PH_KW]:1E-13;
$m=isset($_POST[CHEM_API_PH_MODE])?$_POST[CHEM_API_PH_MODE]:0;
$om=isset($_POST[CHEM_API_PH_OUTPUTMODE])?$_POST[CHEM_API_PH_OUTPUTMODE]:0;
$mi=isset($_POST[CHEM_API_PH_MAXITER])?$_POST[CHEM_API_PH_MAXITER]:150;
$uo=isset($_POST[CHEM_API_PH_USEOWN])?$_POST[CHEM_API_PH_USEOWN]:0;
if(0!=$uo)
{
$Kd1=$_POST[CHEM_API_PH_KD1];
$Kd2=$_POST[CHEM_API_PH_KD2];
$Kd3=$_POST[CHEM_API_PH_KD3];
$Kd1=((false==is_float(Kd1))&amp;&amp;(false==is_int(Kd1)))?0:Kd1;
if(0==$Kd1){
$str_log.=&#39;NotvalidvalueforKd1.&#39;;
return(-1);
}
}
//$E,$CSand$CEcanbedefault
return(0==$uo)?chem_pH($c,$m,$f,$Kw,$om,$mi):chem_pH($c,$m,$f,$Kw,$om,$mi,$ou,$Kd1,$Kd2,$Kd3);
}

functionchem_main_searchABKd(&amp;$str_log=null)
{
$str=isset($_POST[CHEM_API_SEARCHABKD_STRING])?$_POST[CHEM_API_SEARCHABKD_STRING]:&#39;&#39;;
$n=isset($_POST[CHEM_API_SEARCHABKD_MAXN])?$_POST[CHEM_API_SEARCHABKD_MAXN]:10;
$r=isset($_POST[CHEM_API_SEARCHABKD_CASESEN])?$_POST[CHEM_API_SEARCHABKD_CASESEN]:FALSE;
$re=isset($_POST[CHEM_API_SEARCHABKD_REGEXP])?$_POST[CHEM_API_SEARCHABKD_REGEXP]:false;
$om=isset($_POST[CHEM_API_SEARCHABKD_OUTPUTMODE])?$_POST[CHEM_API_SEARCHABKD_OUTPUTMODE]:0;
$s=isset($_POST[CHEM_API_SEARCHABKD_STYLE])?$_POST[CHEM_API_SEARCHABKD_STYLE]:5;
$str_it=isset($_POST[CHEM_API_SEARCHABKD_TDITEM_TEXT])?stripcslashes($_POST[CHEM_API_SEARCHABKD_TDITEM_TEXT]):&#39;&#39;;
$str_tr=isset($_POST[CHEM_API_SEARCHABKD_TRITEM_ATTR])?stripcslashes($_POST[CHEM_API_SEARCHABKD_TRITEM_ATTR]):&#39;&#39;;
$str_c=isset($_POST[CHEM_API_SEARCHABKD_TRDESCRCOL_TEXT])?stripcslashes($_POST[CHEM_API_SEARCHABKD_TRDESCRCOL_TEXT]):&#39;&#39;;
$str_e=isset($_POST[CHEM_API_SEARCHABKD_TRLASTTEXT])?stripcslashes($_POST[CHEM_API_SEARCHABKD_TRLASTTEXT]):&#39;&#39;;

if((strlen($str)&lt;2)||(strlen($str)&gt;40))
{
$str_log.=&#39;.Lengthofsearchedstringmustbe2-40symbols&#39;;
return(-1);
}
returnchem_searchAcidBaseKd($str,$n,$r,$re,$om,$s,$str_tr,$str_it,$str_c,$str_e);
//returnchem_searchAcidBaseKd($str,10,false,false,0,5);
}

functionchem_main()
{
$str_log=&#39;Functionstarts&#39;;
$action=isset($_POST[CHEM_API_ACTION])?$_POST[CHEM_API_ACTION]:&#39;&#39;;
if(&#39;&#39;==$action)
{
echo$str_log.&#39;.Functionstops.Accessdenied.&#39;;
return(-1);
}
switch($action)
{
caseCHEM_API_PH:
{
$str_log.=&#39;&gt;CHEM_API_PH&#39;;
(-1)!=chem_main_ph($str_log)?$str_log.=&#39;:Resultwerereturned.Noerrorsoccurred.&#39;:$str_log.=
&#39;:Erroroccurred.Badresultdata&#39;;
break;
}

caseCHEM_API_SEARCHABKD:
{
$str_log.=&#39;&gt;CHEM_API_SEARCHABKD&#39;;
(-1)!=chem_main_searchABKd($str_log)?$str_log.=&#39;:Resultwerereturned.Noerrorsoccurred.&#39;:$str_log.=
&#39;:Erroroccurred.Badresultdata&#39;;
break;
}
}
return&#39;&#39;;
//$str_log.&#39;.Functionends.&#39;;
}

$start=microtime(true);
chem_main();
$time=microtime(true)-$start;
//echo&#39;&lt;br/&gt;Timeusage:&#39;.$time;

?&gt;
    </code></pre>
